# Terraform state
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local .terraform directories
.terraform/
.terraform.lock.hcl

# CLI configuration files
.terraformrc
terraform.rc

# Variable definitions (jeśli trzymasz lokalnie sekrety)
*.tfvars
*.tfvars.json
